.footer{
    color: #848484;
    margin-top: 5rem;
    padding: 5rem 0;
    position: relative;
    background-color: #19191b;

    &::before{
        content: '';
        background-color: rgba(132, 132, 132, 0.4);
        position: absolute;
        top: 0;
        left: -15px;
        height: 1px;
        width: 10vw;
    }
.footer__contacts{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    line-height: 2rem;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #848484;
    font-weight: 400;
}
.social__link{
    font-size: 1rem;
    color: #848484;
    margin-right: 25px;
    &:hover{
        color: #FFB951;
        transition: all 3s ease;
    }
}
}