.logo {
  background-color: transparent;
  position: absolute;
  z-index: 11;
  width: 100%;
}

.logo .icons .icon-inner {
  color: #fff;
  font-size: 25px;
}

.logo .icons .icon-inner:hover {
  color: #FFB951;
}

@media only screen and (max-width: 600px) {
  .logo {
    background-color: black;
    position: absolute;
    z-index: 11;
    width: 100%;
  }
}

.sec1 {
  background-image: url("../imgs/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  top: 0;
  position: relative;
}

.sec1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-color: rgba(25, 25, 27, 0.45);
}

.sec1 .title__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  z-index: 10;
}

.sec1 .title__header .title {
  font-size: 79px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 6.5rem;
}

.sec1 .note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #19191B;
  padding: 3.5rem 3.125rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  z-index: 12;
}

.sec1 .note::before {
  content: '';
  background: #19191B;
  height: 100%;
  position: absolute;
  top: 0;
  right: -4rem;
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
  width: 100%;
  z-index: -1;
}

.sec1 .note .subtitle {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 16px;
}

.sec1 .note .desc {
  color: #C4C4C4;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.9;
  margin-bottom: 0;
}

.sec1 .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 3.125rem;
  right: 3.125rem;
  z-index: 2;
}

.sec1 .social .social__link {
  color: #C4C4C4;
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 18px;
  font-family: "Poppins", sans-serif;
  margin-right: 5px;
}

.sec1 .social .social__link:hover {
  color: #FFB951;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

@media only screen and (max-width: 400px) {
  .title__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    z-index: 10;
  }
  .title__header .title {
    font-size: 50px !important;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1;
    font-weight: bold;
    text-align: center;
  }
  .note {
    display: none !important;
  }
  .social {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute !important;
    bottom: 1.5rem;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .title__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    z-index: 10;
  }
  .title__header .title {
    font-size: 50px !important;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1;
    font-weight: bold;
    text-align: center;
  }
  .note {
    display: none !important;
  }
  .social {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute !important;
    bottom: 1.5rem;
    left: 0;
  }
}

.sec2 {
  margin-top: 160px;
  position: relative;
}

.sec2 .text-about {
  -webkit-transform: rotate(90deg) translateY(-100%);
          transform: rotate(90deg) translateY(-100%);
  position: absolute;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  left: -5vw;
  top: 0.5rem;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  color: rgba(132, 132, 132, 0.5);
  letter-spacing: .15rem;
}

.sec2 .head {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  font-size: 48px;
  color: #fff;
}

.sec2 .part1 {
  text-align: justify;
  color: #C4C4C4;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.9;
  font-size: 16px;
}

.sec2 .btn-link {
  color: #FFB951;
  display: inline-block;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

.sec2 .btn-link::before {
  content: '';
  background-color: #FFB951;
  height: 1px;
  position: absolute;
  top: 50%;
  right: -4rem;
  width: 3rem;
}

.sec3 {
  margin-top: 160px;
  position: relative;
}

.sec3 .text-cases {
  -webkit-transform: rotate(90deg) translateY(-100%);
          transform: rotate(90deg) translateY(-100%);
  position: absolute;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  left: -5vw;
  top: 0.5rem;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  color: rgba(132, 132, 132, 0.5);
  letter-spacing: .15rem;
}

.sec3 .head2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  font-size: 48px;
  color: #fff;
  font-size: 64px;
}

.sec3 .part2 {
  text-align: justify;
  color: #C4C4C4;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.9;
  font-size: 16px;
}

.sec3 .owl-item.cloned {
  width: 100%;
}

.sec3 .owl-item.cloned .home-slider_item img {
  width: 100% !important;
  height: 627px !important;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec4 .container {
  margin-top: 160px;
  position: relative;
}

.sec4 .container .text-services {
  -webkit-transform: rotate(90deg) translateY(-100%);
          transform: rotate(90deg) translateY(-100%);
  position: absolute;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  left: -5vw;
  top: 0.5rem;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  color: rgba(132, 132, 132, 0.5);
  letter-spacing: .15rem;
}

.sec4 .container .head3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  font-size: 48px;
  color: #fff;
  font-size: 64px;
}

.sec4 .container .part3 {
  text-align: justify;
  color: #C4C4C4;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.9;
  font-size: 16px;
}

.sec4 .all-page {
  position: relative;
  padding: 0;
}

.sec4 .all-page:hoverimage .image {
  -webkit-transform: scale();
          transform: scale();
}

.sec4 .all-page::before {
  content: "";
  position: absolute;
  background-color: rgba(25, 25, 27, 0.45);
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.sec4 .all-page .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  padding: 5rem 3rem;
  color: #fff;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  z-index: 3;
}

.sec4 .all-page .text .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  font-size: 40px;
  color: #fff;
  margin-bottom: 12px;
}

.sec4 .all-page .text .part4 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.9;
  font-size: 16px;
}

.sec4 .all-page .image {
  overflow: hidden;
}

.imgs {
  margin-top: 160px;
  padding: 0 120px;
}

.footer {
  color: #848484;
  margin-top: 5rem;
  padding: 5rem 0;
  position: relative;
  background-color: #19191b;
}

.footer::before {
  content: '';
  background-color: rgba(132, 132, 132, 0.4);
  position: absolute;
  top: 0;
  left: -15px;
  height: 1px;
  width: 10vw;
}

.footer .footer__contacts {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #848484;
  font-weight: 400;
}

.footer .social__link {
  font-size: 1rem;
  color: #848484;
  margin-right: 25px;
}

.footer .social__link:hover {
  color: #FFB951;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.head {
  background-color: #19191b;
}

.head::before {
  content: '';
  background-image: url("/assets/imgs/angle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  pointer-events: none;
  height: 2rem;
  width: 2rem;
  top: 0;
  left: 0;
  z-index: 1000;
}
/*# sourceMappingURL=style.css.map */